.optiscroll{position:relative;overflow:auto;-webkit-overflow-scrolling:touch}
.optiscroll.is-enabled{overflow:hidden}
.optiscroll.is-enabled>.optiscroll-content{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;overflow:scroll;-webkit-overflow-scrolling:touch}
.optiscroll-v,.optiscroll-h{position:absolute;visibility:hidden;z-index:2;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.optiscroll-v{right:0; width: 10px; background: #f7f7f7; }
.optiscroll-h{bottom:0}
.optiscroll.has-vtrack>.optiscroll-v,.optiscroll.has-htrack>.optiscroll-h{visibility:visible}
.optiscroll.is-rtl>.optiscroll-v{left:0;right:auto}
.optiscroll-vtrack,.optiscroll-htrack{display:block;position:absolute;opacity:1;-ms-transform:translate(0%, 0%);transform:translate(0%, 0%);transition:height 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;box-sizing:border-box}
.optiscroll-v{top:0px;bottom:0px;width:10px}
.optiscroll-h{left:4px;right:4px;height:0}
.optiscroll.has-vtrack.has-htrack>.optiscroll-v{bottom:8px}
.optiscroll.has-vtrack.has-htrack>.optiscroll-h{right:8px}
.optiscroll-vtrack,.optiscroll-htrack{background:#e6e6e6;border-radius:10px;box-shadow:0 0 0px #FFF;opacity:1}
.optiscroll-vtrack{width:10px;right:0px}
.optiscroll-htrack{height:3px;bottom:4px}
.optiscroll:hover>.optiscroll-v .optiscroll-vtrack,.optiscroll:hover>.optiscroll-h .optiscroll-htrack{opacity:1}
.optiscroll.has-vtrack.has-htrack.is-rtl>.optiscroll-h{right:4px;left:8px}
.optiscroll.is-rtl>.optiscroll-v .optiscroll-vtrack{right:auto;left:4px}

