

/* Wysiwyg editor
 **************************************** */
  .mce-content-body ol {
    list-style: decimal;
  }
  .mce-content-body ul:not(:first-child),
  .mce-content-body ol:not(:first-child) {
    margin-top: 1em;
  }
  .mce-content-body ul:not(:last-child),
  .mce-content-body ol:not(:last-child) {
    margin-bottom: 1em;
  }
  .mce-content-body ul li,
  .mce-content-body ol li {
    position: relative;
    margin: 0;
    border-bottom: none;
    padding: 0;
    margin-left: 2em;
    padding-top: .5em;
  }
  .mce-content-body ul li {
    list-style: none;
  }
  .mce-content-body ul li::before {
    content: '';
    position: absolute;
    top: 1em;
    left: -1.3em;
    width: 10px;
    height: 10px;
    border: 1px solid var(--sub-color1);
    background-color: var(--sub-color1);
  }
  .mce-content-body ul[style="list-style-type: circle;"] li::before {
    background-color: #fff;
  }
  .mce-content-body ul:not([style="list-style-type: square;"]) li::before {
    border-radius: 50%;
  }

  .mce-content-body .chack_list li{
    padding-left: 2.725em; 
   background-size: 2em;
   margin: 0;
   position: relative;
  }
  .mce-content-body .chack_list li::before {
    content: "";
    position: absolute;
    left: 0;
    top:  0.6em;
    width: 2em;
    height: 2em;
    background: url(../images/list-icn_check.svg) no-repeat left 
    center;
    background-size: 80%;
    border: none;
  }
  .mce-content-body .chack_list li li {
    padding: 0;
    background: none;
  }
  .mce-content-body .chack_list li li::before {
    display: none;
  }


  .mce-content-body img {
    margin: 1em 0;
    max-width: 100%;
    height: auto;
  }
  .mce-content-body hr {
    border-color: #D3D3D3;
  }
  .mce-content-body .box {
    padding: 24px 32px;
    background-color: var(--textbox-back);
  }
  .mce-content-body .box:not(:first-child) {
    margin-top: 2em;
  }
  .mce-content-body .box:not(:last-child) {
    margin-bottom: 2em;
  }
  .mce-content-body .box-wh {
    background-color: #fff;
    border: 1px solid var(--textbox-solid);
  }
  .mce-content-body .alignleft {
    float: left;
    clear: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  .mce-content-body .alignright {
    float: right;
    clear: right;
    margin-left: 1em;
    margin-bottom: 1em;
  }
  .mce-content-body .aligncenter {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  .mce-content-body img.aligncenter {
    display: block;
  }
  .mce-content-body .alignleft:last-child,
  .mce-content-body .alignright:last-child,
  .mce-content-body .aligncenter:last-child {
    margin-bottom: 0;
  }
  .mce-content-body p {
    letter-spacing: .1em;
  }
  .mce-content-body p:not(:last-child) {
    margin-bottom: 1em;
  }
  .mce-content-body strong {
    font-weight: bold;
  }
  .mce-content-body blockquote {
    margin: 1em 0;
    padding: 15px 40px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    font-style: oblique;
    color: #666;
    background-color: #f8f8f8;
  }
  .mce-content-body blockquote p { margin-bottom: 0; }
  .mce-content-body blockquote::before,
  .mce-content-body blockquote::after {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    opacity: .25;
  }
  .mce-content-body blockquote::before {
    background-image: url('../images/icon-quote_left.svg');
    top: 13px;
    left: 10px;
  }
  .mce-content-body blockquote::after {
    background-image: url('../images/icon-quote_right.svg');
    bottom: 13px;
    right: 10px;
  }
  .mce-content-body a {
    text-decoration: underline;
  }
  .mce-content-body a:hover {
    text-decoration: none;
  }
  .mce-content-body .footer_text small {
    display: block;
    margin-top: 8px;
    text-align: right;
  }
  .inner:not(.column_cont_vh) .mce-content-body  table {
    border: none;
    height: auto !important;
    margin-right: auto;
    margin-left: auto;
  }
  .mce-content-body table:not(:first-child) { margin-top: 1em; }
  .mce-content-body table:not(:last-child) { margin-bottom: 1em; }
  .mce-content-body th,
  .mce-content-body td,
  .mce-content-body tr {
    height: auto !important;
  }
  .mce-content-body th,
  .mce-content-body td {
    padding: 1em;
    border: 1px solid #D3D3D3;
    line-height: 1.5;
    vertical-align: middle;
    font-size: .938em;
  }
  .mce-content-body th {
    text-align: center;
  }
  .mce-content-body sup {
    font-size: .75rem; /* 12px */
    color: #555;
  }
  .bold {
    font-family: var( --font-jp-b);
    font-weight: bold;
    color: #0322AD;
  }

  /* iframe */
  .mce-content-body .iframe {
    position: relative;
  }
  .mce-content-body .iframe:not(:last-child) {
    margin-bottom: 2em;
  }
  .mce-content-body .iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .mce-content-body .iframe--youtube,
  .mce-content-body .iframe--google_map {
    padding-top: calc( 9 / 16 * 100% );
  }

  /* table scroll */
  .table-sp-scroll {
    white-space: nowrap;
  }
  .scroll {
    overflow-x: scroll;
    margin-bottom: 1em;
    -webkit-overflow-scrolling: touch;
  }
  .scroll table { margin: 0; }
  .scroll--cap {
    text-align: left;
    margin: 1em 0 0 !important;
    opacity: .25;
    font-size: .875rem; /* 14px */
  }

  @media screen and (max-width: 767px) {
    .mce-content-body p:not([class]) {
      text-align: left !important;
    }
    .mce-content-body .alignright,
    .mce-content-body .alignleft  {
      width: 100% !important;
      float: none;
      margin: 20px auto;
      display: block;
    }
    .mce-content-body blockquote {
      padding: 15px;
    }
    .mce-content-body blockquote::before {
      top: 0;
      left: 0;
    }
    .mce-content-body blockquote::after {
      bottom: 0;
      right: 0;
    }
    .mce-content-body ul li::before {
      width: 8px;
      height: 8px;
      top: 9px;
    }
    .mce-content-body table {
      max-width: none !important;
    }
    .mce-content-body .table-sp-block tr {
      margin: 0 0 10px;
      display: block;
    }
    .mce-content-body th {
      font-weight: bold;
    }
    .mce-content-body th,
    .mce-content-body td {
      padding: 8px;
    }
    .table-sp-full {
      width: 100% !important;
    }
    .table-sp-full th,
    .table-sp-full td {
      flex: 1;
    }
    .table-sp-block,
    .table-sp-block th,
    .table-sp-block td {
      width: 100% !important;
    }
    .table-sp-block th,
    .table-sp-block td {
      display: block;
    }
    .mce-content-body .box {
      padding: 24px;
    }
    .mce-content-body .chack_list li::before {
      top: 3px;
      background-size: 70%;
    }
    .mce-content-body .box .chack_list li::before { 
      top: .1em;
    }
    .mce-content-body ul li,
    .mce-content-body ol li {
      padding-top: 0;
    }
    .mce-content-body .chack_list p {
      line-height: 2.5;
    }
  }

/* 管理画面エディタ用
*************************************************** */
  .mce-content-body.wp-editor {
    padding: 24px !important;
    max-height: 100vh !important;
    overflow-y: scroll !important;
  }

  @media screen and (max-width: 767px) {
    .mce-content-body.wp-editor table tr *:first-child:nth-last-child(2),
    .mce-content-body.wp-editor table tr *:first-child:nth-last-child(2) ~ * {
      display: table-cell;
      width: auto !important;
    }
  }

/* add quicktag
*************************************************** */
  /* 見出し */
  .editor-ttl:not(:first-child),
  .editor-ttl2:not(:first-child),
  .editor-ttl3:not(:first-child) {
    margin-top: 1em;
  }
  .editor-ttl:not(:last-child),
  .editor-ttl2:not(:last-child),
  .editor-ttl3:not(:last-child) {
    margin-bottom: .5em;
  }
  .editor-ttl {
    font-size: 2rem; /* 32px */
    font-family: var(--font-jp_min_b);
  }
  .editor-ttl span {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    margin: 0 0 4px;
    padding: 13px 15px;
    line-height: 1.2;
  }
  .editor-ttl2 {
    font-size: 1.5rem; /* 24px */
    color: var(--primary-color);
    font-family: var(--font-jp-b);
    font-weight: bold;
  }
  .editor-ttl2:not(:last-child) {
    margin-bottom: 1.5rem;
margin-top: 1rem;
  }
  .editor-ttl3 {
    font-family: var(--font-jp-b);
    position: relative;
    font-size: 1.125rem; /* 18px */ 
    padding-left: 1em;
  }
  .editor-ttl3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .313em; /* 5px */
    height: 100%;
    background-color: var(--primary-color);
  }

  /* 注意書き */
  .txt-attention {
    display: block;
    text-indent: -1em;
    padding-left: 1em;
    font-size: .875rem; /* 14px */
    color: #999;
  }
  .txt-attention::before {
    content: '※';
  }

  /* テーブル */
  .mce-content-body table:not(.table2) th {
    background:var(  --table1-thcolor);
  }

  .table1 th,
  .table1 td {
    position: relative;
    padding: 1em 1.5em;
  }
  .table1 th {
    background:var(  --table1-thcolor);
    color: #000;
    font-size: 1rem; /* 16px */
  }

  .mce-content-body .table2 th,
  .mce-content-body .table2 td {
    border-color: var(--table2-solid);
  }
  .mce-content-body .table2 th {
    background-color: var(--table2-thcolor);
    color: #fff;
  }


  /* IE */
  _:-ms-input-placeholder, :root .table1 th {
    border-bottom: 2px solid #1D7FB7;
  }
  _:-ms-input-placeholder, :root .table1 td {
    border-bottom: 1px solid #D3D3D3;
  }
  _:-ms-input-placeholder, :root .table1 th::before,
  _:-ms-input-placeholder, :root .table1 td::before {
    display: none;
  }

  

  @media screen and (max-width: 767px) {
    .editor-ttl {
      font-size: 1.714rem; /* 24px */
    }
    .editor-ttl2 {
      font-size: 1.429rem; /* 20px */
    }
    .editor-ttl3 {
      font-size: 1.143rem; /* 16px */
    }
    .editor-ttl2:not(:last-child) {
      margin: 0 0 .5em;
    }
    .editor-ttl span {
      margin-top: 20px;
      padding: 5px 10px;
      font-size: 1.5rem;
    }


    /* テーブル */
    .table2.table-sp-block th,
    .table2.table-sp-block td {
      border-bottom: 0;
    }
    .table2.table-sp-block tr:last-child > *:last-child {
      border-bottom: 1px solid #D3D3D3;
    }
    .table1.table-sp-block td::before {
      display: none;
    }
    

    /* 注意書き */
    .txt-attention {
      font-size: .929rem; /* 13px */
    }
  }

  /* addquicktag　乗用車&トラック
*************************************************** */
.parts_section .imgarea {
  margin-bottom: 80px;
}
.parts_section.truck .imgarea {
  margin-bottom: 0;
}
.mce-content-body .parts_section img {
  margin: 0;
}
.parts_section .point {
  width: 8.333%;
  height: 0;
  padding-top: 8%;
  border-radius: 50%;
}
.parts_section .point01 {
  top: 37.5%;
  left: 17.7%;
}
.parts_section .point02 {
  top: 50.5%;
  left: 16.3%;
}
.parts_section .point03 {
  top: 76.3%;
  left: 14.1%;
}
.parts_section .point04 {
  top: 47%;
  left: 27.5%;
}
.parts_section .point05 {
  top: 75%;
  left: 34.2%;
}
.parts_section .point06 {
  top: 39%;
  left: 79.1%;
}
.parts_section .point07 {
  top: 61.5%;
  left: 11.6%;
}
.parts_section .point08 {
  top: 62.9%;
  left: 23.5%;
}
.parts_section .point09 {
  top: 58.5%;
  left: 37.3%;
}
.parts_section .point10 {
  top: 59.8%;
  left: 45.5%;
}
.parts_section .point11 {
  top: 65.5%;
  left: 65.2%;
}
.parts_section .point12 {
  top: 64.5%;
  left: 83.1%;
}
.parts_section .detail {
  position: absolute;
  top: -50%;
  right: -20px;
  transform: translate(100% , -50%);
  width: 330px;
  height: auto;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
.parts_section .point:hover .detail {
  opacity: 1;
}
.parts_section .point06 .detail {
  top: -50%;
  left: -20px;
  right: inherit;
  transform: translate(-100% , -50%);
}
.parts_section .point03 .detail,
.parts_section .point05 .detail,
.parts_section.truck .point .detail {
  top: -20px;
  left: 50%;
  transform: translate(-50% , -100%);
}
.parts_section .detail .box_txtarea {
  padding: 8px 16px 16px;
  background-color: #eee;
}
.parts_section .detail .ttl-03 {
  margin: .5rem 0;
  font-family: var(--font-jp_min_b);
}
.parts_section .box-ttl {
  margin: 10px 0 5px;
  text-align: left;
  font-family: var(--font-jp_min_b);
}
.parts_section .flex {
  padding-bottom: 20px;
  border-bottom: 1px solid #D3D3D3;
}
.parts_section .box-img {
  width: 180px;
  margin-right: 20px;
}
.parts_section .box-txt {
  flex: 1;
}
.mce-content-body .parts_section  p:not(:last-child) {
  margin-bottom: 0;
}
.lps_sec .parts_section .ttl-03:not(:last-child) {
  margin-bottom: 4px;
}
/* column-2 */
.column-2 .parts_section .imgarea {
  margin-bottom: 40px;
}
.column-2 .parts_section .detail {
  width: 230px;
}
.column-2 .parts_section .detail .ttl-03 {
  font-size: 1.25rem;
}
.column-2 .parts_section .box_txtarea {
  padding: 8px 10px 10px;
}
.column-2 .parts_section .box_txtarea p {
  font-size: .813rem;
  line-height: 1.6;
}
.column-2 .parts_section .box-ttl {
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  .parts_section {
    margin-bottom: 30px;
  }
  .parts_section .imgarea {
    margin-bottom: 20px;
  }
  .column-2 .parts_section .imgarea {
    margin-bottom: 20px;
  }
  .parts_section.truck .imgarea,
  .column-2 .parts_section.truck .imgarea {
    margin-bottom: 0;
  }
  .parts_section .point {
    display: none;
  }
  .parts_section .box-ttl {
    margin: 8px 0 4px;
    font-size: 1.25rem;
  }
  .column-2 .parts_section .box-ttl {
    font-size: 1.25rem;
  }
  .parts_section .flex {
    padding-bottom: 10px;
  }
  .parts_section .box-img {
    width: 120px;
    margin-right: 14px;
  }
  .parts_section .box-txt {
    font-size: .938rem; 
  }
}