@charset "utf-8";
/* ##############################################################################

    DEFAULT

############################################################################## */
  body {
    width: 1200px;
    transform: scale(.8);
    transform-origin: 0 0;
  }